@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Quicksand:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* landing page */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;
  box-shadow: none;
}

.menunavbar {
  flex: 80%;
  margin: 10px 0px;
  padding-right: 20px;
  display: flex;
  height: 50px;
  width: auto;
  justify-content: end;
}

.menunavbar a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  font-style: italic;
  transition: 1.5s;
}

a {
  text-decoration: none;
}

.nav {
  margin-right: 20px;
  font-family: "Quicksand", sans-serif;
  margin-left: 40px;
  display: flex;
  align-items: center;
  color: black;
  text-shadow: 1px 1px 2px #000000;
}

.list-login {
  background-color: orange;
  font-family: "Quicksand", sans-serif;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  margin: 10px;
  border-radius: 20px;
  color: white;
}

.container-satu {
  height: 500px;
  width: auto;
  background-image: url(https://drive.google.com/uc?export=view&id=1e2LoWby0XJ_7L15VT1tB5UMQOtjpaPMH);
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 20px;
}

.blur {
  display: flex;
  height: 500px;
  width: auto;
  background-color: hsla(0, 0%, 100%, 0.05);
  backdrop-filter: blur(1px);
  border-radius: 20px;
}

.content {
  margin: auto;
  text-align: center;
}

.content h3 {
  font-size: 20px;
  font-weight: 500;
  color: orange;
  letter-spacing: 1.5px;
}

.content h1 {
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  margin: 20px;
}
/* landingpageadmin */
/* kelolaakun */
.container-crud {
  flex-direction: column;
  display: flex;
  height: auto;
  width: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(126, 87, 87, 0.3);
}

.container-paket {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(126, 87, 87, 0.3);
  background-color: antiquewhite;
}

.container-user {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(126, 87, 87, 0.3);
  background-color: white;
}

.container-user h1,
h3 {
  margin: 10px auto;
  text-shadow: 1px 1px 2px #000000;
}

.container-user h1 {
  letter-spacing: 2px;
}

.container-user h3 {
  letter-spacing: 1px;
}

.active {
  color: orange;
  text-shadow: 1px 1px 2px #000000;
  font-weight: bold;
}

.savedata {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.savedata button {
  margin: auto;
  color: white;
  padding: 12px 22px;
  background-color: lightseagreen;
  border: 1px solid lightseagreen;
  border-radius: 20px;
  cursor: pointer;
}

.savedata button:hover {
  color: lightseagreen;
  background-color: white;
  transition: 1.5s;
}

.logo {
  flex: 20%;
  color: orange;
  display: flex;
  align-items: center;
  font-family: cursive;
  justify-content: center;
}

.logouser {
  color: orange;
  display: flex;
  margin-right: 1000px;
  align-items: center;
  font-family: cursive;
}

.logout {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}

.logout button {
  color: white;
  padding: 5px 22px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 20px;
  cursor: pointer;
}

.logout button:hover {
  color: orange;
  background-color: white;
  transition: 1.5s;
}

.logout p {
  margin-bottom: 5px;
}

.labeledit {
  margin: 7px 0;
  text-shadow: 1px 1px 2px #000000;
}

.inputedit {
  height: 30px;
}

.inputedit input,
.inputedit input[type="date"],
.inputedit input[type="number"] {
  height: 100%;
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(to right, #edebeb, #dbdbd7);
}

.coveratas {
  margin: 10px;
  width: 100%;
}

.cover-1 {
  display: flex;
  flex-wrap: wrap;
}

.cover-2 {
  display: flex;
  flex-wrap: wrap;
}

.cover {
  flex: 0 0 500px;
  display: flex;
  margin: 10px auto;
  flex-direction: column;
}

.adddata {
  text-shadow: 1px 1px 2px #000000;
  width: 50%;
  display: flex;
  margin: 10px auto;
  height: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(126, 87, 87, 0.3);
}

.adddata form {
  font-size: 16px;
  margin: 10px;
  width: 100%;
}

.labelinput {
  display: flex;
  margin: 15px 0px;
}

.label {
  flex: 30%;
  padding: 15px;
}

.input {
  margin-left: 10px;
  flex: 70%;
}

.input input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid lightgray;
  background-color: lightgray;
}

.input textarea {
  height: 100px;
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid lightgray;
  background-color: lightgray;
}

.labelinput .addpaket {
  margin: auto;
}

.labelinput button {
  width: 100%;
  color: white;
  padding: 12px 22px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 20px;
  cursor: pointer;
  height: 100%;
}

.readdata {
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(126, 87, 87, 0.3);
}

.container-crud h1 {
  margin: 10px auto;
  text-shadow: 1px 1px 2px #000000;
  letter-spacing: 4px;
}

.readdata h1 {
  margin: 10px auto;
  text-shadow: 1px 1px 2px #000000;
  letter-spacing: 4px;
}

.search {
  width: 70%;
  display: flex;
  margin: 10px auto;
}

.labelsearch {
  padding: 10px;
  flex: 30%;
  display: flex;
  margin: auto;
}

.inputsearch {
  flex: 70%;
  display: flex;
}

.inputsearch input {
  width: 50%;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: lightgrey;
  margin: 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.inputsearch input:focus {
  width: 100%;
}

.labelsearch button {
  width: 100%;
  color: white;
  padding: 12px 22px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 20px;
  cursor: pointer;
}

.labelsearch button:hover {
  color: orange;
  background-color: white;
  transition: 1.5s;
}

.sorting {
  display: flex;
}

.depan {
  display: flex;
  justify-content: start;
  flex: 50%;
}

.belakang {
  display: flex;
  justify-content: end;
  flex: 50%;
}

.sorting button {
  color: white;
  padding: 12px 22px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 20px;
  cursor: pointer;
}

.sorting button:hover {
  color: orange;
  background-color: white;
  transition: 1.5s;
}

.tabelakun table {
  text-align: center;
  margin: auto;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid white;
}

.tabelakun th,
td {
  padding: 10px;
  border: 3px solid white;
}

.tabelakun th {
  height: 50px;
  background-color: burlywood;
}

.tabelakun td {
  height: 50px;
  background-color: whitesmoke;
}

.tabelakun .delete {
  width: 80%;
  color: white;
  padding: 12px 22px;
  background-color: red;
  border: 1px solid red;
  border-radius: 10px;
  cursor: pointer;
}

.tabelakun .delete:hover {
  color: red;
  background-color: white;
  transition: 1.5s;
}

/* kelolapaket */

.tabelpaket table {
  text-align: center;
  margin: auto;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid white;
}

.tabelpaket th,
td {
  padding: 10px;
  border: 3px solid white;
}

.tabelpaket th {
  height: 50px;
  background-color: burlywood;
}

.tabelpaket td {
  height: 50px;
  background-color: whitesmoke;
}

.aksi {
  display: flex;
}

.aksi a {
  margin: 0 auto;
}

.button-add {
  display: flex;
}

.button-add button {
  margin: 10px;
  color: white;
  padding: 12px 22px;
  background-color: green;
  border: 1px solid green;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  /* responsive landingpageadmin */
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .menunavbar {
    flex-direction: column;
    margin: auto;
  }

  .nav {
    justify-content: center;
    padding: 5px 0;
  }

  .list-login {
    margin: 10px auto;
  }

  .tabelakun {
    max-width: 500px;
    overflow-x: auto;
  }

  .container-crud {
    max-width: 500px;
  }

  .container-paket {
    max-width: 500px;
  }

  .container-paket h1 {
    text-align: center;
  }

  .adddata {
    min-width: 500px;
  }

  .readdata {
    max-width: 500px;
    margin: auto;
  }

  .tabelpaket {
    max-width: 500px;
    overflow: auto;
  }

  .container-user {
    max-width: 500px;
  }

  .coveratas {
    max-width: 450px;
  }

  .cover {
    max-width: 100%;
    margin: auto;
  }

  .footer p {
    text-align: center;
  }

  .sorting {
    flex-wrap: wrap;
  }
}
